
<p-tabView styleClass="tabview-custom" *ngIf="!loading">
    <p-toast></p-toast>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-user-edit"></i>
            <span> &nbsp; Thông tin cá nhân</span>
        </ng-template>
        <p-card header="Thông tin cá nhân">
            <div class="m-0 flex">
                <div class="col-12 md:col-6">
                    <div class="card p-fluid">
                        <div class="field grid flex flex-column align-items-center" >
                            <div class="user-image">
                                <img  style="width: 120px;" [src]="thumb || this.userResult.imageUrl || ''">
                            </div>
                           <label htmlFor="file" pTooltip="Chỉnh sửa ảnh" tooltipPosition="bottom">
                                <i class="pi pi-pencil" style="cursor: pointer; margin-top: 3px;" ></i>
                                <input type='file' hidden id="file" (change)="onUpload($event)">
                           </label>
                        </div>
                        <div class="field grid flex flex-column align-items-center" style="margin-top: 15px;">
                            <div class="user-name">
                                {{this.userResult.firstName + ' ' + this.userResult.lastName}}
                            </div>
                            <div class="user-phone">
                                {{this.userResult.phone}}
                            </div>
                        </div>
                    </div>
                    <div class="card p-fluid">
                        <form [formGroup]="userForm">
                            <div class="field grid">
                                <label htmlFor="firstName" class="col-12 mb-2 md:col-4 md:mb-0">Họ</label>
                                <div class="col-12 md:col-8">
                                    <div class="input-box">
                                        <input pInputText id="firstName" formControlName="firstname" type="text" [ngClass]="{'ng-invalid ng-dirty' : userForm.controls['firstname'].invalid && (userForm.controls['firstname'].dirty || userForm.controls['firstname'].touched)}"/>
                                    </div>
                                    <small class="ng-dirty ng-invalid" *ngIf="userForm.get('firstname')?.getError('required') && (userForm.controls['firstname'].dirty || userForm.controls['firstname'].touched)">Vui lòng nhập họ.</small>
                                </div>
                            </div>
                            <div class="field grid">
                                <label htmlFor="lastname" class="col-12 mb-2 md:col-4 md:mb-0">Tên</label>
                                <div class="col-12 md:col-8">
                                    <div class="input-box">
                                        <input pInputText id="lastname" formControlName="lastname" type="text" [ngClass]="{'ng-invalid ng-dirty' : userForm.controls['lastname'].invalid && (userForm.controls['lastname'].dirty || userForm.controls['lastname'].touched)}"/>
                                    </div>
                                    <small class="ng-dirty ng-invalid" *ngIf="userForm.get('lastname')?.getError('required') && (userForm.controls['lastname'].dirty || userForm.controls['lastname'].touched)">Vui lòng nhập tên.</small>
                                </div>
                            </div>
                            <div class="field grid">
                                <label htmlFor="identifyNum" class="col-12 mb-2 md:col-4 md:mb-0">Số CCCD</label>
                                <div class="col-12 md:col-8">
                                    <div class="input-box">
                                        <input pInputText id="identifyNum" onlyNumber formControlName="identifyNum" type="text" [ngClass]="{'ng-invalid ng-dirty' : userForm.controls['identifyNum'].invalid && (userForm.controls['identifyNum'].dirty || userForm.controls['identifyNum'].touched)}"/>
                                    </div>
                                    <small class="ng-dirty ng-invalid" *ngIf="userForm.get('identifyNum')?.getError('required') && (userForm.controls['identifyNum'].dirty || userForm.controls['identifyNum'].touched)">Vui lòng nhập số CCCD.</small>
                                    <small class="ng-dirty ng-invalid" *ngIf="userForm.get('identifyNum')?.getError('duplicated') && (userForm.controls['identifyNum'].dirty || userForm.controls['identifyNum'].touched)">Số CCCD đã tồn tại.</small>
                                </div>
                            </div>
                            <div class="field grid">
                                <label htmlFor="email3" class="col-12 mb-2 md:col-4 md:mb-0">Email</label>
                                <div class="col-12 md:col-8">
                                    <div class="input-box">
                                        <input pInputText id="email3" formControlName="email" type="text" [ngClass]="{'ng-invalid ng-dirty' : userForm.controls['email'].invalid && (userForm.controls['email'].dirty || userForm.controls['email'].touched)}"/>
                                    </div>
                                    <small class="ng-dirty ng-invalid" *ngIf="userForm.get('email')?.getError('required') && (userForm.controls['email'].dirty || userForm.controls['email'].touched)">Vui lòng nhập email.</small>
                                    <small class="ng-dirty ng-invalid" *ngIf="userForm.get('email')?.getError('mailInvalid') && (userForm.controls['email'].dirty || userForm.controls['email'].touched)">Email không hợp lệ.</small>
                                </div>
                            </div>
                            <div class="field grid">
                                <label htmlFor="address" class="col-12 mb-2 md:col-4 md:mb-0">Địa chỉ</label>
                                <div class="col-12 md:col-8">
                                    <div class="input-box">
                                        <input pInputText id="address" formControlName="address" type="text" [ngClass]="{'ng-invalid ng-dirty' : userForm.controls['address'].invalid && (userForm.controls['address'].dirty || userForm.controls['address'].touched)}"/>
                                    </div>
                                    <small class="ng-dirty ng-invalid" *ngIf="userForm.get('address')?.getError('required') && (userForm.controls['address'].dirty || userForm.controls['address'].touched)">Vui lòng nhập số điện thoại.</small>
                                </div>
                            </div>
                            <div class="field grid">
                                <label htmlFor="phone" class="col-12 mb-2 md:col-4 md:mb-0">Số điện thoại</label>
                                <div class="col-12 md:col-8">
                                    <div class="input-box">
                                        <input pInputText id="phone" onlyNumber formControlName="phone" type="text" [ngClass]="{'ng-invalid ng-dirty' : userForm.controls['phone'].invalid && (userForm.controls['phone'].dirty || userForm.controls['phone'].touched)}"/>
                                    </div>
                                    <small class="ng-dirty ng-invalid" *ngIf="userForm.get('phone')?.getError('required') && (userForm.controls['phone'].dirty || userForm.controls['phone'].touched)">Vui lòng nhập số điện thoại.</small>
                                    <small class="ng-dirty ng-invalid" *ngIf="userForm.get('phone')?.getError('phoneInvalid') && (userForm.controls['phone'].dirty || userForm.controls['phone'].touched)">Số điện thoại không hợp lệ.</small>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="m-0 flex justify-content-center  mt-5">
                <div>
                    <button pButton type="button" label="Cập nhật" icon="pi pi-save" [loading]="saveLoading" class="p-button"  (click)="saveUser()"></button>
                </div>
            </div>
        </p-card>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-lock"></i>
            <span> &nbsp; Đổi mật khẩu</span>
        </ng-template>
        <p-card header="Đổi mật khẩu">
            <div class="m-0 flex">
                <div class="col-12 md:col-7">
                    <form class="card p-fluid" [formGroup]="passwordForm">
                        <div class="field grid">
                            <label htmlFor="oldpass" class="col-12 mb-2 md:col-2 md:mb-0">Mật khẩu hiện tại</label>
                            <div class="col-12 md:col-10">
                                <input pInputText required id="oldpass" formControlName="currentPass" type="password" [ngClass]="{'ng-invalid ng-dirty' : passwordForm.controls['currentPass'].invalid && (passwordForm.controls['currentPass'].dirty || passwordForm.controls['currentPass'].touched)}"/>
                                <small class="ng-dirty ng-invalid" *ngIf="this.passwordForm.get('currentPass')?.getError('invalid') && (passwordForm.controls['currentPass'].dirty || passwordForm.controls['currentPass'].touched)">Vui lòng nhập mật khẩu cũ.</small>
                            </div>
                        </div>
                        <div class="field grid">
                            <label htmlFor="newPass" class="col-12 mb-2 md:col-2 md:mb-0">Mật khẩu mới</label>
                            <div class="col-12 md:col-10">
                                <input pInputText required id="newPass"type="password" formControlName="newPass" [ngClass]="{'ng-invalid ng-dirty' : passwordForm.controls['newPass'].invalid && (passwordForm.controls['newPass'].dirty || passwordForm.controls['newPass'].touched)}"/>
                                <small class="ng-dirty ng-invalid" *ngIf="this.passwordForm.get('newPass')?.getError('invalid') && (passwordForm.controls['newPass'].dirty || passwordForm.controls['newPass'].touched)">Vui lòng nhập mật khẩu mới.</small>
                                <small class="ng-dirty ng-invalid" *ngIf="this.passwordForm.get('newPass')?.getError('incorrect') && (passwordForm.controls['newPass'].dirty || passwordForm.controls['newPass'].touched)">Vui lòng nhập mật khẩu mới khác mật khẩu cũ.</small>
                            </div>
                        </div>
                        <div class="field grid">
                            <label htmlFor="rePass" class="col-12 mb-2 md:col-2 md:mb-0" >Nhập lại mật khẩu mới</label>
                            <div class="col-12 md:col-10">
                                <input pInputText required id="rePass"  type="password" formControlName="confirmedPass" [ngClass]="{'ng-invalid ng-dirty' : passwordForm.controls['confirmedPass'].invalid && (passwordForm.controls['confirmedPass'].dirty || passwordForm.controls['confirmedPass'].touched)}"/>
                                <small class="ng-dirty ng-invalid" *ngIf="this.passwordForm.get('confirmedPass')?.getError('invalid') && (passwordForm.controls['confirmedPass'].dirty || passwordForm.controls['confirmedPass'].touched)">Vui lòng nhập lại mật khẩu mới.</small>
                                <small class="ng-dirty ng-invalid" *ngIf="this.passwordForm.get('confirmedPass')?.getError('incorrect') && (passwordForm.controls['confirmedPass'].dirty || passwordForm.controls['confirmedPass'].touched)">Nhập lại mật khẩu mới chính xác.</small>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 md:col-5">
                    <div class="card p-fluid">
                        <div class="field grid flex flex-column align-items-center" >
                            <div class="user-image">
                                <img  style="width: 120px;"  [src]="thumb || this.userResult.imageUrl  || ''">
                            </div>                            
                        </div>
                        <div class="field grid flex flex-column align-items-center" style="margin-top: 15px;">
                            <div class="user-name">
                                {{this.userResult.firstName + ' ' + this.userResult.lastName}}
                            </div>
                            <div class="user-phone">
                                {{this.userResult.phone}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-0 flex justify-content-center  mt-5">
                <div>
                    <button pButton type="button" label="Cập nhật" [loading]="saveLoading" (click)="changePassword()" icon="pi pi-save" class="p-button"></button>
                </div>
            </div>
        </p-card>
    </p-tabPanel>
</p-tabView>
<p-tabView styleClass="tabview-custom" *ngIf="loading">
    <p-toast></p-toast>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-user-edit"></i>
            <span> &nbsp; Thông tin cá nhân</span>
        </ng-template>
        <p-card header="Thông tin cá nhân">
            <div class="card">
                <div class="border-round border-1 surface-border p-4 surface-card">
                    <ul class="m-0 p-0 list-none">
                        <li class="mb-3">
                            <div class="flex">
                                <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                                <div style="flex: 1">
                                    <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
                                    <p-skeleton width="75%"></p-skeleton>
                                </div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <div class="flex">
                                <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                                <div style="flex: 1">
                                    <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
                                    <p-skeleton width="75%"></p-skeleton>
                                </div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <div class="flex">
                                <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                                <div style="flex: 1">
                                    <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
                                    <p-skeleton width="75%"></p-skeleton>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="flex">
                                <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                                <div style="flex: 1">
                                    <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
                                    <p-skeleton width="75%"></p-skeleton>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </p-card>
    </p-tabPanel>
    <p-tabPanel header="Header II">
        <ng-template pTemplate="header">
            <i class="pi pi-lock"></i>
            <span> &nbsp; Đổi mật khẩu</span>
        </ng-template>
        <p-card header="Đổi mật khẩu"></p-card>
    </p-tabPanel>
</p-tabView>
<!-- <div class="progress-spinner" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div> -->