<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Thêm" [loading]="addRoomFeeLoading" loadingIcon="pi pi-spin pi-spinner" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewRoomFee()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                   <div class="flex justify-content-center">
                        <p-dropdown  [options]="accomodations" (onChange)="onSelectAccomodation()" [(ngModel)]="selectedAccomodation" optionLabel="name" autoWidth="false"  [style]="{'width':'100%'}"></p-dropdown>
                   </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="roomServices" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','capacity','price','acreage']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Quản lý dịch vụ phòng</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Tìm kiếm..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Tên phòng/Số phòng<p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="capacity">Số người ở<p-sortIcon field="capacity"></p-sortIcon></th>
                        <th pSortableColumn="price">Ngày bắt đầu ở<p-sortIcon field="price"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td>{{data.room.room}}</td>
                        <td>{{data.room.numPerson}}</td>
                        <td>{{data.room.startDate | date:'dd/MM/yyyy'}}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(data)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '650px'}" header="Chi tiết dịch vụ phòng" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Tên phòng/Số phòng</label>
                    <input type="text" pInputText id="name" [(ngModel)]="room.room.room" disabled="true">
                </div>
                <div class="field">
                    <label for="price">Số người ở</label>
                    <p-inputNumber id="price" [(ngModel)]="room.room.numPerson" [disabled]="true"></p-inputNumber>
                </div>
                <div class="field">
                    <label for="price">Ngày bắt đầu ở</label>
                    <div pInputText>
                        {{room.room.startDate | date:'dd/MM/yyyy'}}
                    </div>
                </div>
                <div class="field" >
                    <label class="mb-3">Dịch vụ phòng</label>
                    <button style="width: 100px; height: 35px; margin-left: 20px; margin-bottom: 5px;" pButton [loading]="feeDropdownLoading" loadingIcon="pi pi-spin pi-spinner" pRipple label="Thêm" icon="pi pi-plus" class="p-button-success mr-2" (click)="openRoomService()"></button>
                    <ng-container *ngIf="room.fees && room.fees.length > 0">
                        <p-table [rows]="10" [value]="room.fees">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="feeType">Loại phí<p-sortIcon field="feeType"></p-sortIcon></th>
                                    <th pSortableColumn="unit">Đơn vị tính<p-sortIcon field="unit"></p-sortIcon></th>
                                    <th pSortableColumn="price">Giá<p-sortIcon field="price"></p-sortIcon></th>
                                    <th pSortableColumn="price">Số lượng<p-sortIcon field="price"></p-sortIcon></th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-feeData>
                                <tr>
                                    <td>{{feeData.feeName}}</td>
                                    <td>{{feeData.unit}}</td>
                                    <td>{{feeData.price | currency: 'VND':'symbol'}}</td>
                                    <td>{{feeData.quantity}}</td>
                                   <td>
                                        <div class="flex">
                                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editOtherFee(feeData)"></button>
                                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteOtherFee(feeData)"></button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveRoom()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="otherFeesDialog" [style]="{width: '450px'}" header="Thêm phí khác" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Loại phí</label>
                    <input type="text" pInputText id="name" [(ngModel)]="roomFee.feeName" [disabled]="true"/>
                </div>
                <div class="field">
                    <label for="feeType">Đơn vị tính</label>
                    <input type="text" pInputText id="feeType" [(ngModel)]="roomFee.unit" [disabled]="true"/>
                </div>
                <div class="field">
                    <label for="price">Giá</label>
                    <p-inputNumber id="price" [(ngModel)]="roomFee.price" suffix="đ" [disabled]="true"></p-inputNumber>
                </div>
                <div class="field">
                    <label for="quantity">Số lượng</label>
                    <p-inputNumber id="quantity" [min]=1 [(ngModel)]="roomFee.quantity"></p-inputNumber>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideOtherFeeDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" [loading]="addFeeLoading" loadingIcon="pi pi-spin pi-spinner" class="p-button-text" (click)="saveRoomFee()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="addRoomFeeDialog" [style]="{width: '650px'}" header="Chi tiết dịch vụ phòng" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Tên phòng/Số phòng</label>
                    <p-dropdown  [options]="rooms" [(ngModel)]="roomSelected" optionLabel="room" autoWidth="false"  [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="field">
                    <label for="price">Số người ở</label>
                    <p-inputNumber id="price" [(ngModel)]="roomSelected.numPerson" [disabled]="true"></p-inputNumber>
                </div>
                <div class="field">
                    <label for="price">Ngày bắt đầu ở</label>
                    <div pInputText>
                        {{roomSelected.startDate | date:'dd/MM/yyyy'}}
                    </div>
                </div>
                <div class="field" >
                    <label class="mb-3">Dịch vụ phòng</label>
                    <button style="width: 100px; height: 35px; margin-left: 20px; margin-bottom: 5px;" pButton [loading]="feeDropdownLoading" loadingIcon="pi pi-spin pi-spinner" pRipple label="Thêm" icon="pi pi-plus" class="p-button-success mr-2" (click)="openRoomService()"></button>
                    <ng-container *ngIf="room.fees && room.fees.length > 0">
                        <p-table [rows]="10" [value]="room.fees">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="feeType">Loại phí<p-sortIcon field="feeType"></p-sortIcon></th>
                                    <th pSortableColumn="unit">Đơn vị tính<p-sortIcon field="unit"></p-sortIcon></th>
                                    <th pSortableColumn="price">Giá<p-sortIcon field="price"></p-sortIcon></th>
                                    <th pSortableColumn="price">Số lượng<p-sortIcon field="price"></p-sortIcon></th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-feeData>
                                <tr>
                                    <td>{{feeData.feeName}}</td>
                                    <td>{{feeData.unit}}</td>
                                    <td>{{feeData.price}}</td>
                                    <td>{{feeData.quantity}}</td>
                                   <td>
                                        <div class="flex">
                                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editOtherFee(feeData)"></button>
                                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteOtherFee(feeData)"></button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveRoom()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="addOtherFeesDialog" [style]="{width: '450px'}" header="Thêm phí khác" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Loại phí</label>
                    <p-dropdown  [options]="remainFees" [(ngModel)]="selectedFee" optionLabel="name" autoWidth="false"  [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="field">
                    <label for="feeType">Đơn vị tính</label>
                    <input type="text" pInputText id="feeType" [(ngModel)]="selectedFee.unit" [disabled]="true"/>
                </div>
                <div class="field">
                    <label for="price">Giá</label>
                    <p-inputNumber id="price" [(ngModel)]="selectedFee.price" suffix="đ" [disabled]="true"></p-inputNumber>
                </div>
                <div class="field">
                    <label for="quantity">Số lượng</label>
                    <p-inputNumber id="quantity" [min]=1 [(ngModel)]="selectedFee.quantity"></p-inputNumber>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideOtherFeeDialog()"></button>
                <button pButton pRipple [loading]="addFeeLoading" loadingIcon="pi pi-spin pi-spinner" label="Save" icon="pi pi-check" class="p-button-text" (click)="saveRoomFee()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
<div class="progress-spinner" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>