<div class="grid">
    <!-- <div class="text-center w-full font-semibold text-2xl">Cho thuê phòng trọ giá rẻ, mới nhất T11/2023</div> -->
    <div class="col-10">
        <div class="card">
            <div class="mb-4">
                <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
            </div>
            <p-dataView #dv [value]="posts" [paginator]="true" filterBy="address, price" [rows]="9"
                [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header">
                    <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
                        <div>
                            <p-dropdown [options]="sortOptions" placeholder="Sắp xếp"
                                (onChange)="onSortChange($event)"></p-dropdown>
                        </div>
                        <div class="flex justify-content-center">
                            <form [formGroup]="searchForm">
                                <p-cascadeSelect formControlName="address" [options]="provinces" optionLabel="name"
                                    optionGroupLabel="name" [optionGroupChildren]="['districts', 'wards']"
                                    [style]="{ minWidth: '14rem' }" placeholder="Toàn quốc"></p-cascadeSelect>
                            </form>
                        </div>
                        <div class="flex justify-content-center">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <i class="pi pi-dollar"></i>
                                </span>
                                <input (focus)="searchPriceDialog = true" pInputText placeholder="Chọn giá"
                                    [value]="rangePrice.length > 0 ? rangePrice[0] + '-' + rangePrice[1] + ' triệu' : ''" />
                                <button [disabled]="rangePrice.length === 0" (click)="clearPrice()" pTooltip="Xoá"
                                    type="button" pButton icon="pi pi-eraser" styleClass="p-button-warn"></button>
                            </div>
                        </div>
                        <div class="flex justify-content-center">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <i class="pi pi-stop"></i>
                                </span>
                                <input (focus)="searhAreageDialog = true" pInputText placeholder="Chọn diện tích"
                                    [value]="rangeAreage.length > 0 ? rangeAreage[0] + '-' + rangeAreage[1] + ' m²' : ''" />
                                <button [disabled]="rangeAreage.length === 0" (click)="clearAreage()" pTooltip="Xoá"
                                    type="button" pButton icon="pi pi-eraser" styleClass="p-button-warn"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template let-data pTemplate="gridItem">
                    <div class="col-12 md:col-4">
                        <div class="card m-3 border-1 surface-border">
                            <div class="flex flex-column align-items-center text-center mb-3">
                                <p-galleria [value]="data.images" [showIndicators]="true" [showThumbnails]="false"
                                    [containerStyle]="{ 'min-height': '240px' }">
                                    <ng-template pTemplate="item" let-item>
                                        <img [src]="item.imgUrl"
                                            style="width: 100%; display: block; max-height: 200px; overflow: hidden; object-fit: contain;" />
                                    </ng-template>
                                </p-galleria>
                                <div class="text-2xl mb-3">
                                    <span class="font-bold">{{data.title}}</span>
                                </div>
                                <div class="text-2xl font-bold">{{data.name}}</div>
                                <div class="mb-3 text-left">{{data.address}}</div>
                                <div class="mb-3 text-left">Diện tích: {{data.acreage}} m²</div>
                            </div>

                            <div class="flex align-items-center justify-content-between mb-4">
                                <span class="text-2xl font-semibold">{{data.price | currency:
                                    'VND':'symbol'}}/tháng
                                </span>
                            </div>
                            <div class="flex align-items-center justify-content-between">
                                <button pButton pRipple icon="pi pi-external-link" class="p-button-text"
                                    (click)="onShowDialog(data)" label="Xem chi tiết">
                                </button>
                                <button pButton pRipple (click)="openBooking(data)">Đặt phòng</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>
    <div class="col-2">
        <div class="mb-6">
            <p-card header="Xem theo giá">
                <div *ngIf="rangePrice.length > 0" class="flex justify-content-center font-semibold mb-4">
                    <span>Đang xem {{rangePrice[0]}} - {{rangePrice[1]}} triệu</span>
                </div>
                <p-listbox [options]="quickRangePrice" (onChange)="onChangePrice()" [(ngModel)]="selectedPriceRange"
                    optionLabel="name" [style]="{'width':'15rem'}">
                </p-listbox>
            </p-card>
        </div>
        <p-card header="Xem theo diện tích">
            <div *ngIf="rangeAreage.length > 0" class="flex justify-content-center font-semibold mb-4">
                <span>Đang xem {{rangeAreage[0]}} - {{rangeAreage[1]}} m²</span>
            </div>
            <p-listbox [options]="quickRangeAreage" (onChange)="onChangeAreage()" [(ngModel)]="selectedAreageRange"
                optionLabel="name" [style]="{'width':'15rem'}">

            </p-listbox>
        </p-card>
    </div>
</div>
<p-dialog [(visible)]="detailDialog" [style]="{width: '850px'}" header="Chi tiết phòng trọ" [modal]="true"
    class="p-fluid">
    <ng-template pTemplate="content">
        <div class="flex justify-content-center">
            <p-galleria [value]="roomSelected.images" [showIndicators]="true" [showThumbnails]="false"
                [containerStyle]="{ 'max-width': '640px' }">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.imgUrl"
                        style="width: 100%; display: block; max-height: 300px; overflow: hidden; object-fit: contain;" />
                </ng-template>
            </p-galleria>
        </div>
        <h3 class="text-900 text-center my-5">{{roomSelected.title}}</h3>
        <div class="my-5">
            <span class="text-3xl font-bold mr-2 text-900">{{roomSelected.price | currency:
                'VND':'symbol'}}</span>
            <button pButton pRipple label="Đặt phòng" (click)="openBooking(roomSelected)"
                class="block mx-auto mt-4 p-button-rounded border-none ml-3 font-light line-height-2 bg-blue-500 text-white"></button>
        </div>
        <p-divider class="w-full bg-surface-200"></p-divider>
        <div class="text-xl mb-3">Địa chỉ: <span class="font-bold">{{roomSelected.address}}</span></div>
        <div class="text-xl mb-3">Diện tích: <span class="font-bold">{{roomSelected.acreage}} m²</span>
        </div>
        <div class="text-xl">Liên hệ: <span class="font-bold">{{roomSelected.phone}}</span></div>
        <p-divider class="w-full bg-surface-200"></p-divider>
        <p-card header="Thông tin mô tả">
            <div [innerHTML]="roomSelected.content">
            </div>
        </p-card>
        <br>
        <p-fieldset class="mb-4" legend="Dịch vụ" [toggleable]="true" [collapsed]="true">
            <ul class="my-5 list-none p-0 flex text-900 flex-column">
                <li class="py-2" *ngFor="let service of roomSelected.services">
                    <i class="pi pi-fw pi-check text-xl text-cyan-500 mr-2"></i>
                    <span class="text-xl line-height-3">{{service.name}}</span>
                </li>
            </ul>
        </p-fieldset>
        <br>
        <p-fieldset legend="Thiết bị sẵn có (có thể tuỳ chọn thêm)" [toggleable]="true" [collapsed]="true">
            <ul class="my-5 list-none p-0 flex text-900 flex-column">
                <li class="py-2" *ngFor="let equip of roomSelected.equipments">
                    <i class="pi pi-fw pi-check text-xl text-cyan-500 mr-2"></i>
                    <span class="text-xl line-height-3">{{equip.name}}</span>
                </li>
            </ul>
        </p-fieldset>
        <p-card>
            <!-- <google-map [options]="options"></google-map> -->
        </p-card>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="bookingDialog" [style]="{width: '450px'}" header="Thông tin" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="bookingForm">
            <div class="field">
                <label for="fullname">Họ và tên</label>
                <div class="input-box">
                    <input formControlName="fullname" pInputText id="fullname"
                        [ngClass]="{'ng-invalid ng-dirty' : bookingForm.controls['fullname'].invalid && (bookingForm.controls['fullname'].dirty || bookingForm.controls['fullname'].touched)}" />
                </div>
                <small class="ng-dirty ng-invalid"
                    *ngIf="bookingForm.get('fullname')?.getError('required') && (bookingForm.controls['fullname'].dirty || bookingForm.controls['fullname'].touched)">Vui
                    lòng nhập họ tên.</small>
            </div>
            <div class="field">
                <label for="email">Email</label>
                <div class="input-box">
                    <input formControlName="email" pInputText id="email"
                        [ngClass]="{'ng-invalid ng-dirty' : bookingForm.controls['email'].invalid && (bookingForm.controls['email'].dirty || bookingForm.controls['email'].touched)}" />
                </div>
                <small class="ng-dirty ng-invalid"
                    *ngIf="bookingForm.get('email')?.getError('required') && (bookingForm.controls['email'].dirty || bookingForm.controls['email'].touched)">Vui
                    lòng nhập email.</small>
                <small class="ng-dirty ng-invalid"
                    *ngIf="bookingForm.get('email')?.getError('mailInvalid') && (bookingForm.controls['email'].dirty || bookingForm.controls['email'].touched)">Email
                    không hợp lệ.</small>
            </div>
            <div class="field">
                <label for="phone">Số điện thoại</label>
                <div class="input-box">
                    <input formControlName="phone" onlyNumber type="text" pInputText id="phone"
                        [ngClass]="{'ng-invalid ng-dirty' : bookingForm.controls['phone'].invalid && (bookingForm.controls['phone'].dirty || bookingForm.controls['phone'].touched)}" />
                </div>
                <small class="ng-dirty ng-invalid"
                    *ngIf="bookingForm.get('phone')?.getError('required') && (bookingForm.controls['phone'].dirty || bookingForm.controls['phone'].touched)">Vui
                    lòng nhập số điện thoại.</small>
                <small class="ng-dirty ng-invalid"
                    *ngIf="bookingForm.get('phone')?.getError('phoneInvalid') && (bookingForm.controls['phone'].dirty || bookingForm.controls['phone'].touched)">Số
                    điện thoại không hợp lệ.</small>
            </div>
            <div lass="field">
                <div class="field col flex align-items-center">
                    <label for="description" class="mr-3">Chọn ngày xem phòng</label>
                    <p-inputSwitch [(ngModel)]="isAddReviewDate" [ngModelOptions]="{standalone: true}"></p-inputSwitch>
                </div>
            </div>
            <div class="field" *ngIf="isAddReviewDate">
                <p-calendar appendTo="body" position="bottom" [showTime]="true" id="reviewDate" [minDate]="minDate"
                    formControlName="reviewDate" dateFormat="dd/mm/yy" [readonlyInput]="true"></p-calendar>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="hideBookingDialog()"></button>
        <button pButton pRipple label="Save" [disabled]="bookingForm.invalid" [loading]="submitLoading"
            loadingIcon="pi pi-spin pi-spinner" icon="pi pi-check" class="p-button-text"
            (click)="saveBooking()"></button>
    </ng-template>
</p-dialog>

<p-dialog (onShow)="rangePrice = [3,5]" [(visible)]="searchPriceDialog" [style]="{width: '450px'}" header="Chọn giá"
    [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field mt-6 mb-6 ml-2 mr-2">
            <div class="flex justify-content-center mb-4">
                <div class="font-bold">
                    {{rangePrice[0]}} - {{rangePrice[1]}} triệu
                </div>
            </div>
            <p-slider [step]=".5" [min]="0" [max]="10" [animate]="true" [(ngModel)]="rangePrice"
                [range]="true"></p-slider>
        </div>
        <div class="field">
            <p-card header="Chọn nhanh">
                <div class="flex flex-wrap">
                    <div (click)="quickSelectPrice(range, false)" style="cursor: pointer;" class="mr-3 mb-4"
                        *ngFor="let range of quickRangePrice">
                        <p-chip>
                            <div class="p-2">{{range.name}}</div>
                        </p-chip>
                    </div>
                </div>
            </p-card>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Áp dụng" class="p-button-text" (click)="searchPost()"></button>
    </ng-template>
</p-dialog>

<p-dialog (onShow)="rangeAreage = [20, 30]" [(visible)]="searhAreageDialog" [style]="{width: '450px'}"
    header="Chọn diện tích" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field mt-6 mb-6">
            <div class="flex justify-content-center mb-4">
                <div class="font-bold">
                    {{rangeAreage[0]}} - {{rangeAreage[1]}} m²
                </div>
            </div>
            <p-slider [step]="5" [min]="0" [max]="60" [animate]="true" [(ngModel)]="rangeAreage"
                [range]="true"></p-slider>
        </div>
        <div class="field">
            <p-card header="Chọn nhanh">
                <div class="flex flex-wrap">
                    <div (click)="quickSelectAreage(range, false)" style="cursor: pointer;" class="mr-3 mb-4"
                        *ngFor="let range of quickRangeAreage">
                        <p-chip>
                            <div class="p-2">{{range.name}}</div>
                        </p-chip>
                    </div>
                </div>
            </p-card>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Áp dụng" class="p-button-text" (click)="searchPost()"></button>
    </ng-template>
</p-dialog>