<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Thêm" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                   <div class="flex justify-content-center">
                        <p-dropdown  [options]="accomodations" (onChange)="onSelectAccomodation()" [(ngModel)]="selectedAccomodation" optionLabel="name" autoWidth="false"  [style]="{'width':'100%'}"></p-dropdown>
                   </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="tentants" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['firstName', 'lastName', 'room.name', 'startDate', 'isStayed', 'identifyNum', 'email', 'phone']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"  selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Quản lý khách thuê</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Tìm kiếm..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="firstName">Tên khách thuê<p-sortIcon field="firstName"></p-sortIcon></th>
                        <th pSortableColumn="isStayed">Trạng thái<p-sortIcon field="isStayed"></p-sortIcon></th>
                        <th pSortableColumn="startDate">Ngày bắt đầu ở<p-sortIcon field="startDate"></p-sortIcon></th>
                        <th pSortableColumn="identifyNum">Số định danh<p-sortIcon field="identifyNum"></p-sortIcon></th>
                        <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="phone">Số điện thoại<p-sortIcon field="phone"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tenant>
                    <tr>
                        <td>{{tenant.firstName}} {{tenant.lastName}}</td>
                        <td *ngIf="tenant.isStayed; else isStayed">Đã ở</td>
                        <ng-template #isStayed>
                            <td>Chưa ở</td>
                        </ng-template>
                        <td>{{tenant.startDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{tenant.identifyNum}}</td>
                        <td>{{tenant.email}}</td>
                        <td>{{tenant.phone}}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editTenant(tenant)"></button>
                                <button pButton pRipple [disabled]="!tenant.isStayed" pTooltip="Trả phòng" tooltipPosition="bottom" icon="pi pi-refresh" class="p-button-rounded p-button-warning" (click)="returnRoom(tenant)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="tenantDialog" [style]="{width: '450px'}" header="Chi tiết khách thuê trọ" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <form [formGroup]="tenantForm">
                    <div class="formgrid grid">
                        <div class="field">
                            <label for="firstName">Họ</label>
                            <input formControlName="firstName" type="text" pInputText id="firstName" [ngClass]="{'ng-invalid ng-dirty' : tenantForm.controls['firstName'].invalid && (tenantForm.controls['firstName'].dirty || tenantForm.controls['firstName'].touched)}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="this.tenantForm.get('firstName')?.getError('invalid') && (tenantForm.controls['firstName'].dirty || tenantForm.controls['firstName'].touched)">Vui lòng nhập họ.</small>
                        </div>
                        <div class="field">
                            <label for="lastName">Tên</label>
                            <input formControlName="lastName" pInputText type="text" id="lastName" [ngClass]="{'ng-invalid ng-dirty' : tenantForm.controls['lastName'].invalid && (tenantForm.controls['lastName'].dirty || tenantForm.controls['lastName'].touched)}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="this.tenantForm.get('lastName')?.getError('invalid') && (tenantForm.controls['lastName'].dirty || tenantForm.controls['lastName'].touched)">Vui lòng nhập mật tên.</small>
                        </div>
                    </div>
                    <div class="field">
                        <label for="identifyNum">Số định danh</label>
                        <input formControlName="identifyNum" type="text" pInputText id="identifyNum" [ngClass]="{'ng-invalid ng-dirty' : tenantForm.controls['identifyNum'].invalid && (tenantForm.controls['identifyNum'].dirty || tenantForm.controls['identifyNum'].touched)}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="this.tenantForm.get('identifyNum')?.getError('invalid') && (tenantForm.controls['identifyNum'].dirty || tenantForm.controls['identifyNum'].touched)">Vui lòng nhập mật tên.</small>
                    </div>
                    <div class="field">
                        <label for="email">Email</label>
                        <input formControlName="email" type="text" pInputText id="email" [ngClass]="{'ng-invalid ng-dirty' : tenantForm.controls['email'].invalid && (tenantForm.controls['email'].dirty || tenantForm.controls['email'].touched)}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="this.tenantForm.get('email')?.getError('invalid') && (tenantForm.controls['email'].dirty || tenantForm.controls['email'].touched)">Vui lòng nhập mật tên.</small>
                    </div>
                    <div class="field">
                        <label for="phone">Số điện thoại</label>
                        <input formControlName="phone" type="text" pInputText id="phone" [ngClass]="{'ng-invalid ng-dirty' : tenantForm.controls['phone'].invalid && (tenantForm.controls['phone'].dirty || tenantForm.controls['phone'].touched)}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="this.tenantForm.get('phone')?.getError('invalid') && (tenantForm.controls['phone'].dirty || tenantForm.controls['phone'].touched)">Vui lòng nhập mật tên.</small>
                    </div>
                    <div class="field">
                        <label for="name">Ngày bắt đầu ở</label>
                        <p-calendar formControlName="startDate" dateFormat="dd/mm/yy" [touchUI]="true" [ngClass]="{'ng-invalid ng-dirty' : tenantForm.controls['startDate'].invalid && (tenantForm.controls['startDate'].dirty || tenantForm.controls['startDate'].touched)}"></p-calendar>
                        <small class="ng-dirty ng-invalid" *ngIf="this.tenantForm.get('startDate')?.getError('invalid') && (tenantForm.controls['startDate'].dirty || tenantForm.controls['startDate'].touched)">Vui lòng nhập mật tên.</small>
                    </div>
                </form>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check"  class="p-button-text" (click)="saveTenant()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteTenantDialog" header="Xác nhận trả phòng" [modal]="true" [style]="{width:'450px'}">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name" style="margin-right: 12px;">Ngày trả phòng</label>
                    <p-calendar [(ngModel)]="returnDate"  dateFormat="dd/mm/yy" [touchUI]="true" [ngClass]="{'ng-invalid ng-dirty' : tenantForm.controls['startDate'].invalid && (tenantForm.controls['startDate'].dirty || tenantForm.controls['startDate'].touched)}"></p-calendar>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteTenantDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
<div class="progress-spinner" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>