<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Thêm" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                   <div class="flex justify-content-center">
                        <p-dropdown  [options]="accomodations" (onChange)="onSelectAccomodation()" [(ngModel)]="selectedAccomodation" optionLabel="name" autoWidth="false"  [style]="{'width':'100%'}"></p-dropdown>
                   </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="tentants" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['firstName', 'lastName', 'room.name', 'startDate', 'isStayed', 'identifyNum', 'email', 'phone']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"  selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Quản lý khách thuê</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Tìm kiếm..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="firstName">Tên khách thuê<p-sortIcon field="firstName"></p-sortIcon></th>
                        <th pSortableColumn="gender">Giới tinh<p-sortIcon field="gender"></p-sortIcon></th>
                        <th pSortableColumn="isStayed">Trạng thái<p-sortIcon field="isStayed"></p-sortIcon></th>
                        <th pSortableColumn="startDate">Ngày bắt đầu ở<p-sortIcon field="startDate"></p-sortIcon></th>
                        <th pSortableColumn="identifyNum">Số định danh<p-sortIcon field="identifyNum"></p-sortIcon></th>
                        <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="phone">Số điện thoại<p-sortIcon field="phone"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tenant>
                    <tr>
                        <td>{{tenant.firstName}} {{tenant.lastName}}</td>
                        <ng-container [ngSwitch]="tenant.gender">
                            <td *ngSwitchCase="'MALE'">Nam</td>
                            <td *ngSwitchCase="'FEMALE'">Nữ</td>
                            <td  *ngSwitchDefault>Chưa biết</td>
                        </ng-container>
                        <td *ngIf="tenant.isStayed; else isStayed">
                            <p-tag severity="success" value=" Đang ở"></p-tag>
                        </td>
                        <ng-template #isStayed>
                            <td *ngIf="tenant.endDate">
                                <p-tag severity="warning" value="Đã chuyển đi"></p-tag>
                            </td>
                            <td *ngIf="!tenant.endDate">
                                <p-tag severity="info" value="Chưa ở"></p-tag>
                            </td>
                        </ng-template>
                        <td>{{tenant.startDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{tenant.identifyNum}}</td>
                        <td>{{tenant.email}}</td>
                        <td>{{tenant.phone}}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editTenant(tenant)"></button>
                                <button pButton pRipple [loading]="tenant.removeLoading" [disabled]="tenant.isStayed" pTooltip="Xoá" tooltipPosition="bottom" icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="removeTenant(tenant)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog (onHide)="onHideDialog()" [(visible)]="tenantDialog" [style]="{width: '450px'}" header="Chi tiết khách thuê trọ" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <form [formGroup]="tenantForm">
                    <div class="formgrid grid w-full">
                        <div class="field col-7">
                            <label for="firstName">Họ <span class="mandatory-sign">*</span></label>
                             <div class="input-box">
                                 <input formControlName="firstName" type="text" pInputText id="firstName" [ngClass]="{'ng-invalid ng-dirty' : tenantForm.controls['firstName'].invalid && (tenantForm.controls['firstName'].dirty || tenantForm.controls['firstName'].touched)}"/>
                             </div>
                            <small class="ng-dirty ng-invalid" *ngIf="tenantForm.get('firstName')?.getError('required') && (tenantForm.controls['firstName'].dirty || tenantForm.controls['firstName'].touched)">Vui lòng nhập họ.</small>
                        </div>
                        <div class="field col-5">
                            <label for="lastName">Tên <span class="mandatory-sign">*</span></label>
                             <div class="input-box">
                                 <input formControlName="lastName" pInputText type="text" id="lastName" [ngClass]="{'ng-invalid ng-dirty' : tenantForm.controls['lastName'].invalid && (tenantForm.controls['lastName'].dirty || tenantForm.controls['lastName'].touched)}"/>
                             </div>
                            <small class="ng-dirty ng-invalid" *ngIf="tenantForm.get('lastName')?.getError('required') && (tenantForm.controls['lastName'].dirty || tenantForm.controls['lastName'].touched)">Vui lòng nhập tên.</small>
                        </div>
                    </div>
                    <div class="field">
                        <label for="identifyNum">Số CCCD <span class="mandatory-sign">*</span></label>
                        <span class="p-input-icon-right">
                            <i class="pi pi-spin pi-spinner" *ngIf="isValidating"></i>
                            <div class="input-box">
                                <input formControlName="identifyNum" onlyNumber type="text" pInputText id="identifyNum" [ngClass]="{'ng-invalid ng-dirty' : tenantForm.controls['identifyNum'].invalid && (tenantForm.controls['identifyNum'].dirty || tenantForm.controls['identifyNum'].touched)}"/>
                            </div>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="tenantForm.get('identifyNum')?.getError('required') && (tenantForm.controls['identifyNum'].dirty || tenantForm.controls['identifyNum'].touched)">Vui lòng nhập số CCCD.</small>
                        <small class="ng-dirty ng-invalid" *ngIf="tenantForm.get('identifyNum')?.getError('duplicated') && (tenantForm.controls['identifyNum'].dirty || tenantForm.controls['identifyNum'].touched)">Số CCCD đã tồn tại.</small>
                    </div>
                    <div class="field">
                        <label for="gender">Giới tính</label>
                         <div class="input-box">
                             <p-dropdown id="gender" formControlName="gender" optionLabel="value" [options]="gender" placeholder="Chọn giới tính"></p-dropdown>
                         </div>
                    </div>
                    <div class="field">
                        <label for="email">Email <span class="mandatory-sign">*</span></label>
                        <span class="p-input-icon-right">
                            <i class="pi pi-spin pi-spinner" *ngIf="emailLoading"></i>
                            <div class="input-box">
                             <input formControlName="email" type="text" pInputText id="email" [ngClass]="{'ng-invalid ng-dirty' : tenantForm.controls['email'].invalid && (tenantForm.controls['email'].dirty || tenantForm.controls['email'].touched)}"/>
                            </div>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="tenantForm.get('email')?.getError('required') && (tenantForm.controls['email'].dirty || tenantForm.controls['email'].touched)">Vui lòng nhập email.</small>
                        <small class="ng-dirty ng-invalid" *ngIf="tenantForm.get('email')?.getError('mailInvalid') && (tenantForm.controls['email'].dirty || tenantForm.controls['email'].touched)">Email không hợp lệ.</small>
                        <small class="ng-dirty ng-invalid" *ngIf="tenantForm.get('email')?.getError('duplicated') && (tenantForm.controls['email'].dirty || tenantForm.controls['email'].touched)">Email đã tồn tại.</small>
                    </div>
                    <div class="field">
                        <label for="phone">Số điện thoại <span class="mandatory-sign">*</span></label>
                        <span class="p-input-icon-right">
                            <i class="pi pi-spin pi-spinner" *ngIf="phoneLoading"></i>
                            <div class="input-box">
                             <input formControlName="phone" onlyNumber type="text" pInputText id="phone" [ngClass]="{'ng-invalid ng-dirty' : tenantForm.controls['phone'].invalid && (tenantForm.controls['phone'].dirty || tenantForm.controls['phone'].touched)}"/>
                            </div>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="tenantForm.get('phone')?.getError('required') && (tenantForm.controls['phone'].dirty || tenantForm.controls['phone'].touched)">Vui lòng nhập số điện thoại.</small>
                        <small class="ng-dirty ng-invalid" *ngIf="tenantForm.get('phone')?.getError('phoneInvalid') && (tenantForm.controls['phone'].dirty || tenantForm.controls['phone'].touched)">Số điện thoại không hợp lệ.</small>
                        <small class="ng-dirty ng-invalid" *ngIf="tenantForm.get('phone')?.getError('duplicated') && (tenantForm.controls['phone'].dirty || tenantForm.controls['phone'].touched)">Số điện thoại đã tồn tại.</small>
                    </div>
                    <div class="field">
                        <label for="name">Ngày bắt đầu ở</label>
                         <div class="input-box">
                             <p-calendar formControlName="startDate" dateFormat="dd/mm/yy" [touchUI]="true"></p-calendar>
                         </div>
                    </div>
                </form>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Huỷ" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Lưu" [disabled]="tenantForm.invalid" icon="pi pi-check"  class="p-button-text" (click)="saveTenant()"></button>
            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="deleteTenantDialog" header="Xác nhận" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="tentant">Xác nhận xoá khách thuê <b>{{tentant.firstName + ' ' + tentant.lastName}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Không" (click)="deleteTenantDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Có" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
<div class="progress-spinner" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>