<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Thêm" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="accomodations" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name', 'addressLine', 'ward', 'district', 'province']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Quản lý khu trọ</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Tìm kiếm..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Tên khu/Toà nhà <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="addressLine">Địa chỉ<p-sortIcon field="addressLine"></p-sortIcon></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td style="width:50%; min-width:10rem;">
                            {{item.name}}
                        </td>
                        <td style="width:50%; min-width:10rem;">
                            {{item.addressLine + ', ' + item.ward + ', ' + item.district + ', ' + item.province}}
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="flex">
                                <button pButton [loading]="item.loading" pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editAccomodation(item)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteAccomodation(item)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            
        </div>

        <p-dialog [(visible)]="addDialog" [resizable]="true" [style]="{width: '550px', height: '600px'}" header="Chi tiết khu trọ" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <form [formGroup]="accomodationForm">
                    <div class="field">
                        <label for="name">Tên khu/Toà nhà</label>
                        <input type="text" pInputText  formControlName="name" autofocus [ngClass]="{'ng-invalid ng-dirty' : accomodationForm.controls['name'].invalid && (accomodationForm.controls['name'].dirty || accomodationForm.controls['name'].touched)}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="this.accomodationForm.get('name')?.invalid && (accomodationForm.controls['name'].dirty || accomodationForm.controls['name'].touched)">Vui lòng nhập tên khu trọ.</small>
                    </div>
                    <div class="field">
                        <label for="province">Tỉnh/Thành phố</label>
                        <p-dropdown (onChange)="getDistrictByProvince()" placeholder="Tỉnh/Thành phố" [options]="provices" formControlName="province" optionLabel="name" [ngClass]="{'ng-invalid ng-dirty' : accomodationForm.controls['province'].invalid && (accomodationForm.controls['province'].dirty || accomodationForm.controls['province'].touched)}">
                        </p-dropdown>
                        <small class="ng-dirty ng-invalid" *ngIf="this.accomodationForm.get('province')?.invalid && (accomodationForm.controls['province'].dirty || accomodationForm.controls['province'].touched)">Vui lòng chọn địa chỉ.</small>
                    </div>
                    <div class="field">
                        <label for="district">Quận/Huyện</label>
                        <p-dropdown (onChange)="getWardByDistrict()" placeholder="Quận/Huyện" formControlName="district" [options]="districts" optionLabel="name" [ngClass]="{'ng-invalid ng-dirty' : accomodationForm.controls['district'].invalid && (accomodationForm.controls['district'].dirty || accomodationForm.controls['district'].touched)}"></p-dropdown>
                        <small class="ng-dirty ng-invalid" *ngIf="this.accomodationForm.get('district')?.invalid && (accomodationForm.controls['district'].dirty || accomodationForm.controls['district'].touched)">Vui lòng chọn địa chỉ.</small>
                    </div>
                    <div class="field">
                        <label for="ward">Phường/Xã</label>
                        <p-dropdown [options]="wards" formControlName="ward" placeholder="Phường/Xã" optionLabel="name" [ngClass]="{'ng-invalid ng-dirty' : accomodationForm.controls['ward'].invalid && (accomodationForm.controls['ward'].dirty || accomodationForm.controls['ward'].touched)}"></p-dropdown>
                        <small class="ng-dirty ng-invalid" *ngIf="this.accomodationForm.get('ward')?.invalid && (accomodationForm.controls['ward'].dirty || accomodationForm.controls['ward'].touched)">Vui lòng nhập chọn địa chỉ.</small>
                    </div>
                    <div class="field">
                        <label for="address_line">Số nhà, tên đường</label>
                        <input pInputText formControlName="addressLine" [ngClass]="{'ng-invalid ng-dirty' : accomodationForm.controls['addressLine'].invalid && (accomodationForm.controls['addressLine'].dirty || accomodationForm.controls['addressLine'].touched)}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="this.accomodationForm.get('addressLine')?.invalid && (accomodationForm.controls['addressLine'].dirty || accomodationForm.controls['addressLine'].touched)">Vui lòng nhập chọn địa chỉ.</small>
                    </div>
                </form>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveAccomodation()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteDialog" header="Xác nhận" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="accomodation">Bạn có chắc chắn muốn xoá <b>{{accomodation.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
<div class="progress-spinner" *ngIf="dataLoading">
    <p-progressSpinner></p-progressSpinner>
</div>

