<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>

            <p-table #dt [value]="users" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['firstName','lastName','address','phone', 'email']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Quản lý tài khoản</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Tìm kiếm..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Họ tên</th>
                        <th>Ngày tạo</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Loại tài khoản</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>{{user.firstName }} {{user.lastName}}</td>
                        <td>{{user.createdAt | date : 'dd/MM/yyyy'}}</td>
                        <td>{{user.address }}</td>
                        <td>{{user.phone }}</td>
                        <td>{{user.email }}</td>
                        <ng-container [ngSwitch]="user.role">
                            <td *ngSwitchCase="'ROLE_LANDLORD'">Chủ trọ</td>
                        </ng-container>
                        <ng-container [ngSwitch]="user.status">
                            <p-tag *ngSwitchCase="'REGISTERED'" severity="info"
                                value="Đăng ký mới"></p-tag>
                            <p-tag *ngSwitchCase="'ACTIVE'" severity="success"
                                value="Hoạt động"></p-tag>
                            <p-tag *ngSwitchCase="'LOCKED'" severity="danger"
                                value="Đã khoá"></p-tag>
                        </ng-container>
                        <td>
                            <div class="flex">
                                
                                <button pButton pRipple icon="pi pi-pencil" pTooltip="Tạo tài khoản" tooltipPosition="top"
                                    class="p-button-rounded p-button-success mr-2" (click)="editUser(user)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog (onHide)="onHideForm()" [(visible)]="userDialog" [style]="{width: '550px'}" header="Tạo tài khoản" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <form [formGroup]="userForm">
                    <div class="field">
                        <label htmlFor="firstName">Họ <span class="mandatory-sign">*</span></label>
                        <div class="input-box">
                            <input pInputText id="firstName" formControlName="firstname" type="text"
                                [ngClass]="{'ng-invalid ng-dirty' : userForm.controls['firstname'].invalid && (userForm.controls['firstname'].dirty || userForm.controls['firstname'].touched)}" />
                        </div>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="userForm.get('firstname')?.getError('required') && (userForm.controls['firstname'].dirty || userForm.controls['firstname'].touched)">Vui
                            lòng nhập họ.</small>
                    </div>
                    <div class="field">
                        <label htmlFor="lastname">Tên <span class="mandatory-sign">*</span></label>
                        <div class="input-box">
                            <input pInputText id="lastname" formControlName="lastname" type="text"
                                [ngClass]="{'ng-invalid ng-dirty' : userForm.controls['lastname'].invalid && (userForm.controls['lastname'].dirty || userForm.controls['lastname'].touched)}" />
                        </div>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="userForm.get('lastname')?.getError('required') && (userForm.controls['lastname'].dirty || userForm.controls['lastname'].touched)">Vui
                            lòng nhập tên.</small>
                    </div>
                    <div class="field">
                        <label htmlFor="identifyNum">Số CCCD </label>
                        <div class="input-box">
                            <input pInputText id="identifyNum" onlyNumber formControlName="identifyNum" type="text"
                                [ngClass]="{'ng-invalid ng-dirty' : userForm.controls['identifyNum'].invalid && (userForm.controls['identifyNum'].dirty || userForm.controls['identifyNum'].touched)}" />
                        </div>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="userForm.get('identifyNum')?.getError('required') && (userForm.controls['identifyNum'].dirty || userForm.controls['identifyNum'].touched)">Vui
                            lòng nhập số CCCD.</small>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="userForm.get('identifyNum')?.getError('duplicated') && (userForm.controls['identifyNum'].dirty || userForm.controls['identifyNum'].touched)">Số
                            CCCD đã tồn tại.</small>
                    </div>
                    <div class="field">
                        <label htmlFor="email3">Email <span class="mandatory-sign">*</span></label>
                        <span class="p-input-icon-right">
                            <i class="pi pi-spin pi-spinner" *ngIf="emailLoading"></i>
                            <div class="input-box">
                                <input pInputText id="email3" formControlName="email" type="text"
                                    [ngClass]="{'ng-invalid ng-dirty' : userForm.controls['email'].invalid && (userForm.controls['email'].dirty || userForm.controls['email'].touched)}" />
                            </div>
                        </span>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="userForm.get('email')?.getError('required') && (userForm.controls['email'].dirty || userForm.controls['email'].touched)">Vui
                            lòng nhập email.</small>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="userForm.get('email')?.getError('mailInvalid') && (userForm.controls['email'].dirty || userForm.controls['email'].touched)">Email
                            không hợp lệ.</small>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="userForm.get('email')?.getError('duplicated') && (userForm.controls['email'].dirty || userForm.controls['email'].touched)">Email
                            đã tồn tại.</small>
                    </div>
                    <div class="field">
                        <label htmlFor="email3">User name <span class="mandatory-sign">*</span></label>
                        <span class="p-input-icon-right">
                            <i class="pi pi-spin pi-spinner" *ngIf="usernameLoading"></i>
                            <div class="input-box">
                                <input pInputText id="email3" formControlName="userName" type="text"
                                    [ngClass]="{'ng-invalid ng-dirty' : userForm.controls['userName'].invalid && (userForm.controls['userName'].dirty || userForm.controls['userName'].touched)}" />
                            </div>
                        </span>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="userForm.get('userName')?.getError('required') && (userForm.controls['userName'].dirty || userForm.controls['userName'].touched)">Vui
                            lòng nhập user name.</small>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="userForm.get('userName')?.getError('duplicated') && (userForm.controls['userName'].dirty || userForm.controls['userName'].touched)">User name đã tồn tại.</small>
                    </div>
                    <div class="field">
                        <label htmlFor="address">Địa chỉ</label>
                        <div class="input-box">
                            <input pInputText id="address" formControlName="address" type="text"
                                [ngClass]="{'ng-invalid ng-dirty' : userForm.controls['address'].invalid && (userForm.controls['address'].dirty || userForm.controls['address'].touched)}" />
                        </div>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="userForm.get('address')?.getError('required') && (userForm.controls['address'].dirty || userForm.controls['address'].touched)">Vui
                            lòng nhập số điện thoại.</small>
                    </div>
                    <div class="field">
                        <label htmlFor="phone">Số điện thoại</label>
                        <div class="input-box">
                            <input pInputText id="phone" onlyNumber formControlName="phone" type="text"
                                [ngClass]="{'ng-invalid ng-dirty' : userForm.controls['phone'].invalid && (userForm.controls['phone'].dirty || userForm.controls['phone'].touched)}" />
                        </div>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="userForm.get('phone')?.getError('required') && (userForm.controls['phone'].dirty || userForm.controls['phone'].touched)">Vui
                            lòng nhập số điện thoại.</small>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="userForm.get('phone')?.getError('phoneInvalid') && (userForm.controls['phone'].dirty || userForm.controls['phone'].touched)">Số
                            điện thoại không hợp lệ.</small>
                    </div>
                    <div class="field">
                        <label for="status">Loại tài khoản <span class="mandatory-sign">*</span></label>
                        <div class="formgrid grid">
                            <div class="field-radiobutton col-4">
                                <p-radioButton id="landord" formControlName="role"
                                    [value]="'ROLE_LANDLORD'"></p-radioButton>
                                <label for="landord">Chủ trọ</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="status">Trạng thái hoạt động <span class="mandatory-sign">*</span></label>
                        <div class="formgrid grid">
                            <div class="field-radiobutton col-6">
                                <p-radioButton id="yes" formControlName="status"
                                    [value]="'ACTIVE'"></p-radioButton>
                                <label for="yes">Còn hoạt động</label>
                            </div>
                            <div class="field-radiobutton col-6">
                                <p-radioButton id="no" formControlName="status"
                                    [value]="'LOCK'"></p-radioButton>
                                <label for="no">Bị khoá</label>
                            </div>
                        </div>
                    </div>
                </form>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Huỷ" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text"
                    (click)="saveUser()"></button>
            </ng-template>
        </p-dialog>



        <p-dialog [(visible)]="deleteUserDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="userSelected">Are you sure you want to delete <b>{{userSelected.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Không"
                    (click)="deleteUserDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Có"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
<div class="progress-spinner" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>