:host(app-post) ::ng-deep {
    .p-menu-overlay {
        position: absolute;
        top: 45px !important;
        left: -60px !important;
    }
}

::ng-deep {
    .p-datatable {
        .p-datatable-wrapper {
            overflow: unset !important;
        }
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

::ng-deep {
    .p-picklist-buttons {
        &.p-picklist-target-controls,
        &.p-picklist-source-controls {
            display: none;
        }
    }
}

::ng-deep {
    .p-picklist-item:not(.cdk-drag-disabled) {
        cursor: move;
        z-index: 10000 !important;
    }
}

/** @format */

.formbold-mb-5 {
    margin-bottom: 20px;
}

.formbold-file-input input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.formbold-file-input label {
    position: relative;
    border: 1px dashed #e0e0e0;
    border-radius: 6px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
    text-align: center;
}

.formbold-browse {
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    display: inline-block;
    padding: 8px 28px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}


