
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Thêm" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <div class="flex justify-content-center">
                        <p-dropdown
                            [options]="accomodations"
                            (onChange)="onSelectAccomodation()"
                            [(ngModel)]="selectedAccomodation"
                            optionLabel="name"
                            autoWidth="false"
                            [style]="{ width: '100%' }"
                        ></p-dropdown>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table
                #dt
                [value]="posts"
                responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="['name', 'capacity', 'price', 'acreage']"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [rowHover]="true"
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Quản lý bài đăng</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Tìm kiếm..." class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Tên phòng<p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="month">Ngày đăng<p-sortIcon field="month"></p-sortIcon></th>
                        <th pSortableColumn="representative">Tiêu đề<p-sortIcon field="representative"></p-sortIcon></th>
                        <th pSortableColumn="isPay">Trạng thái<p-sortIcon field="isPay"></p-sortIcon></th>
                        <th>Số lượt xem</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td style="width: 15%">{{ data.room.name }}</td>
                        <td style="width: 15%">{{ data.createdAt | date : 'MM/yyyy' }}</td>
                        <td style="width: 40%">{{ data.title }}</td>

                        <td style="width: 15%">
                            <ng-container>
                                <p-tag *ngIf="data.isActive" severity="success" value="Đang đăng tin"></p-tag>
                                <p-tag *ngIf="!data.isActive" severity="warning" value="Đã gỡ bài"></p-tag>
                            </ng-container>
                        </td>
                        <td></td>
                        <td>
                            <ng-container *ngIf="data.id">
                                <div class="flex align-items-center" style="position: relative">
                                    <p-menu (onShow)="onShowMenu(data)" #menu [model]="items" [popup]="true"></p-menu>
                                    <button
                                        pButton
                                        type="button"
                                        pTooltip="Tác vụ"
                                        tooltipPosition="top"
                                        class="p-button-rounded"
                                        (click)="toggleMenu(menu, $event)"
                                        icon="pi pi-bars"
                                    ></button>
                                </div>
                            </ng-container>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            
        </div>

        <p-dialog (onHide)="onHideDialog()" [(visible)]="postDialog" [style]="{width: '1150px'}" header="Chi tiết hợp đồng" [modal]="true" position="top" class="p-fluid">
            <ng-template pTemplate="content">
                <form [formGroup]="postForm">
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="room">Phòng</label>
                            <p-dropdown id="room" formControlName="room" optionLabel="name" [options]="rooms" placeholder="Chọn theo phòng" [ngClass]="{'ng-invalid ng-dirty' : postForm.controls['room'].invalid && (postForm.controls['room'].dirty || postForm.controls['room'].touched)}"> </p-dropdown>
                            <small class="ng-dirty ng-invalid" *ngIf="postForm.get('room')?.hasError('required') && (postForm.controls['room'].dirty || postForm.controls['room'].touched)">Vui lòng chọn phòng.</small>
                        </div> 
                        <!-- <div class="field col">
                            <ng-container *ngIf="contract.room && contract.room.price">
                                <label>Giá</label>
                                <p-inputNumber [disabled]="true" [(ngModel)]="contract.room.price" [ngModelOptions]="{standalone: true}"></p-inputNumber>
                            </ng-container>
                        </div> -->
                    </div>
                    <p-tabView>
                        <p-tabPanel header="Chọn dịch vụ">
                            <p-pickList [source]="servicesDisplayed" (onMoveAllToSource)="onMoveBackService($event)" (onMoveToSource)="onMoveBackService($event)" [target]="selectedServices" sourceHeader="Dịch vụ" targetHeader="Dịch vụ đã chọn" [dragdrop]="true" [responsive]="true" 
                                [sourceStyle]="{ height: '15rem' }" [targetStyle]="{ height: '15rem' }" filterBy="name" sourceFilterPlaceholder="Tìm kiếm..." targetFilterPlaceholder="Tìm kiếm..."  breakpoint="1400px">
                                <ng-template let-service pTemplate="item">
                                    <div class="flex flex-wrap p-2 align-items-center gap-3">
                                        <div class="flex-1 flex flex-column gap-2">
                                            <span>{{service.name}}</span>
                                        </div>
                                        <div class="flex-1 flex flex-column gap-2">
                                            <span>{{service.price | currency: 'VND':'symbol'}}</span>
                                        </div>
                                        <div class="flex-1 flex flex-column gap-2">
                                            <span>{{service.unit}}</span>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-pickList>
                        </p-tabPanel>
                    </p-tabView>
                    <div class="field">
                        <label for="title">Tiêu đề</label>
                        <textarea type="text" pInputTextarea id="title" formControlName="title"></textarea>
                    </div> 
                    <div class="field">
                        <label>Nội dung</label>
                        <div class="card">
                            <p-editor formControlName="content" [style]="{ height: '320px' }"></p-editor>
                        </div>
                    </div>
                    <div class="formgrid grid">
                       <div class="field col">
                        <div class="card">
                            <p-galleria [value]="post.images || []" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px' }" [numVisible]="5">
                                <ng-template pTemplate="item" let-item>
                                    <img [src]="item.imgUrl" style="width: 25px;" />
                                </ng-template>
                                <ng-template pTemplate="thumbnail" let-item>
                                    <div class="grid grid-nogutter justify-content-center">
                                        <img [src]="item.imgUrl" style="width: 25px;" />
                                    </div>
                                </ng-template>
                            </p-galleria>
                           </div>
                       </div>
                    </div>
                    <div class="field">
                        <p-fileUpload (onBeforeUpload)="loading = true" mode="basic" chooseLabel="Thêm" [multiple]="true" name="file" method="post" [auto]="true" [url]="linkUpload + post.id" accept="image/*" [maxFileSize]="1000000" (onUpload)="onUpload()"></p-fileUpload>
                    </div>
                </form>            
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="postDialog = false"></button>
                <button pButton pRipple label="Save" icon="pi pi-check"  class="p-button-text" (click)="savePost()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
<div class="progress-spinner" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>
