<div class="surface-0 flex justify-content-center">
    <p-toast></p-toast>
    <div id="home" class="landing-wrapper" style="width: 100%; margin-top: 55px;">
        <div class="layout-topbar">
            <a class="layout-topbar-logo" routerLink="">
                <div style="object-fit: contain;height: 75px;">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" style="object-fit: contain;
                    width: 100%;
                    height: 100%;" viewBox="0 0 500.000000 500.000000" preserveAspectRatio="xMidYMid meet">
                        <metadata>
                            Created by potrace 1.16, written by Peter Selinger 2001-2019
                        </metadata>
                        <g transform="translate(0.000000,500.000000) scale(0.100000,-0.100000)" fill="#000000"
                            stroke="none">
                            <path d="M2665 3539 c-92 -17 -863 -190 -892 -200 -19 -6 -33 -18 -37 -32 -3
                -12 -5 -296 -5 -632 0 -525 2 -612 14 -632 l15 -23 738 0 c561 0 741 3 750 12
                9 9 12 145 12 550 0 501 -1 538 -17 547 -15 7 -464 101 -486 101 -4 0 -8 66
                -9 146 -3 134 -5 148 -23 159 -13 8 -33 9 -60 4z m-15 -237 c0 -110 3 -131 18
                -145 10 -9 112 -34 255 -63 l237 -47 0 -463 0 -464 -180 0 -180 0 0 245 c0
                231 -1 245 -19 255 -12 6 -122 10 -287 10 -235 0 -270 -2 -286 -17 -16 -15
                -18 -36 -18 -255 l0 -238 -180 0 -180 0 0 565 0 565 23 5 c69 17 774 174 785
                174 9 1 12 -31 12 -127z m50 -977 l0 -205 -205 0 -205 0 0 198 c0 109 3 202 7
                205 3 4 96 7 205 7 l198 0 0 -205z" />
                            <path d="M2170 1873 c-53 -27 -75 -74 -74 -158 0 -117 43 -169 139 -169 96 0
                139 52 139 169 0 110 -39 163 -127 172 -28 3 -53 -2 -77 -14z m100 -53 c58
                -31 48 -200 -12 -215 -43 -11 -76 10 -88 56 -29 108 27 198 100 159z" />
                            <path d="M1650 1716 l0 -166 35 0 34 0 3 106 3 107 35 -64 c20 -35 43 -65 52
                -67 12 -2 27 12 45 44 61 102 62 102 63 -18 l0 -108 30 0 30 0 0 165 0 165
                -39 0 c-36 0 -40 -3 -69 -57 -56 -105 -53 -105 -97 -21 -39 72 -41 73 -83 76
                l-42 3 0 -165z" />
                            <path d="M2470 1850 c0 -29 1 -30 50 -30 l50 0 0 -135 0 -135 35 0 35 0 0 135
                0 135 50 0 c49 0 50 1 50 30 l0 30 -135 0 -135 0 0 -30z" />
                            <path d="M2840 1715 l0 -165 105 0 105 0 0 30 0 30 -70 0 -70 0 0 40 0 40 60
                0 60 0 0 30 0 30 -60 0 -60 0 0 35 0 35 70 0 70 0 0 30 0 30 -105 0 -105 0 0
                -165z" />
                            <path d="M3170 1715 l0 -165 105 0 105 0 0 30 0 30 -70 0 -70 0 0 135 0 135
                -35 0 -35 0 0 -165z" />
                        </g>
                    </svg>
                </div>
                <span>Phòng trọ 123</span>
            </a>

            <div #topbarmenu class="layout-topbar-menu"
                [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
                <button (click)="openRegisterMemberDialog()" pButton pRipple label="Đăng ký sử dụng dịch vụ quản lý phòng trọ" class="p-button-text p-button-rounded border-none font-light line-height-2 text-blue-500"></button>
                <button pButton pRipple label="Đăng tin" icon="pi pi-external-link" (click)="post()"
                    class="p-button-rounded border-none ml-5 font-light line-height-2 bg-blue-500 text-white"></button>
                <button class="p-link layout-topbar-button" (click)="menu.toggle($event)">
                    <i class="pi pi-user"></i>
                    <span>Profile</span>
                </button>
                <button style="visibility: visible;" class="p-link layout-topbar-button">
                </button>
                <p-menu #menu (onShow)="onShowMenu()" [model]="menuItems" appendTo="body" [popup]="true"></p-menu>
            </div>

        </div>

        <div id="features" class="py-4 px-4 lg:px-8 mx-0 lg:mx-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<p-dialog [(visible)]="registerDialog" [style]="{width: '450px'}" header="Tạo tài khoản" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <form [formGroup]="registerForm">
                    <div class="formgrid grid">
                        <div class="field col">
                            <label htmlFor="firstName">Họ <span class="mandatory-sign">*</span></label>
                            <div class="input-box">
                                <input pInputText id="firstName" formControlName="firstname" type="text"
                                    [ngClass]="{'ng-invalid ng-dirty' : registerForm.controls['firstname'].invalid && (registerForm.controls['firstname'].dirty || registerForm.controls['firstname'].touched)}" />
                            </div>
                            <small class="ng-dirty ng-invalid"
                                *ngIf="registerForm.get('firstname')?.getError('required') && (registerForm.controls['firstname'].dirty || registerForm.controls['firstname'].touched)">Vui
                                lòng nhập họ.</small>
                        </div>
                        <div class="field col">
                            <label htmlFor="lastname">Tên <span class="mandatory-sign">*</span></label>
                            <div class="input-box">
                                <input pInputText id="lastname" formControlName="lastname" type="text"
                                    [ngClass]="{'ng-invalid ng-dirty' : registerForm.controls['lastname'].invalid && (registerForm.controls['lastname'].dirty || registerForm.controls['lastname'].touched)}" />
                            </div>
                            <small class="ng-dirty ng-invalid"
                                *ngIf="registerForm.get('lastname')?.getError('required') && (registerForm.controls['lastname'].dirty || registerForm.controls['lastname'].touched)">Vui
                                lòng nhập tên.</small>
                        </div>
                    </div>
                    
                    <div class="field">
                        <label htmlFor="identifyNum">Số CCCD </label>
                        <div class="input-box">
                            <input pInputText id="identifyNum" onlyNumber formControlName="identifyNum" type="text"
                                [ngClass]="{'ng-invalid ng-dirty' : registerForm.controls['identifyNum'].invalid && (registerForm.controls['identifyNum'].dirty || registerForm.controls['identifyNum'].touched)}" />
                        </div>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="registerForm.get('identifyNum')?.getError('required') && (registerForm.controls['identifyNum'].dirty || registerForm.controls['identifyNum'].touched)">Vui
                            lòng nhập số CCCD.</small>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="registerForm.get('identifyNum')?.getError('duplicated') && (registerForm.controls['identifyNum'].dirty || registerForm.controls['identifyNum'].touched)">Số
                            CCCD đã tồn tại.</small>
                    </div>
                    <div class="field">
                        <label htmlFor="email3">Email <span class="mandatory-sign">*</span></label>
                        <span class="p-input-icon-right">
                            <i class="pi pi-spin pi-spinner" *ngIf="emailLoading"></i>
                            <div class="input-box">
                                <input pInputText id="email3" formControlName="email" type="text"
                                    [ngClass]="{'ng-invalid ng-dirty' : registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)}" />
                            </div>
                        </span>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="registerForm.get('email')?.getError('required') && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">Vui
                            lòng nhập email.</small>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="registerForm.get('email')?.getError('mailInvalid') && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">Email
                            không hợp lệ.</small>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="registerForm.get('email')?.getError('duplicated') && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">Email
                            đã tồn tại.</small>
                    </div>
                    <div class="field">
                        <label htmlFor="email3">User name <span class="mandatory-sign">*</span></label>
                        <span class="p-input-icon-right">
                            <i class="pi pi-spin pi-spinner" *ngIf="usernameLoading"></i>
                            <div class="input-box">
                                <input pInputText id="email3" formControlName="userName" type="text"
                                    [ngClass]="{'ng-invalid ng-dirty' : registerForm.controls['userName'].invalid && (registerForm.controls['userName'].dirty || registerForm.controls['userName'].touched)}" />
                            </div>
                        </span>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="registerForm.get('userName')?.getError('required') && (registerForm.controls['userName'].dirty || registerForm.controls['userName'].touched)">Vui
                            lòng nhập user name.</small>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="registerForm.get('userName')?.getError('duplicated') && (registerForm.controls['userName'].dirty || registerForm.controls['userName'].touched)">User name đã tồn tại.</small>
                    </div>
                    <div class="field">
                        <label htmlFor="address">Địa chỉ</label>
                        <div class="input-box">
                            <input pInputText id="address" formControlName="address" type="text"
                                [ngClass]="{'ng-invalid ng-dirty' : registerForm.controls['address'].invalid && (registerForm.controls['address'].dirty || registerForm.controls['address'].touched)}" />
                        </div>
                    </div>
                    <div class="field">
                        <label htmlFor="phone">Số điện thoại</label>
                        <div class="input-box">
                            <input pInputText id="phone" onlyNumber formControlName="phone" type="text"
                                [ngClass]="{'ng-invalid ng-dirty' : registerForm.controls['phone'].invalid && (registerForm.controls['phone'].dirty || registerForm.controls['phone'].touched)}" />
                        </div>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="registerForm.get('phone')?.getError('required') && (registerForm.controls['phone'].dirty || registerForm.controls['phone'].touched)">Vui
                            lòng nhập số điện thoại.</small>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="registerForm.get('phone')?.getError('phoneInvalid') && (registerForm.controls['phone'].dirty || registerForm.controls['phone'].touched)">Số
                            điện thoại không hợp lệ.</small>
                    </div>
                </form>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Huỷ" icon="pi pi-times" class="p-button-text"
                    (click)="registerDialog = false"></button>
                <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text"
                    (click)="saveRegister()"></button>
            </ng-template>
        </p-dialog>

<div class="progress-spinner" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>