<div class="grid">
    <div class="col-12 md:col-6">
		<div class="card p-fluid">
			<h5>Thông tin khu trọ</h5>
			<div class="field">
				<label htmlFor="name1">Tên nhà trọ</label>
				<input pInputText id="name1" type="text" />
			</div>
			<div class="field">
				<label htmlFor="address">Địa chỉ</label>
				<input pInputText id="address" type="text" />
			</div>
			<div class="field">
				<label htmlFor="phone">Số điện thoại</label>
				<input pInputText id="phone" type="text" />
			</div>
		</div>
	</div>

	<div class="col-12 md:col-6">
		<div class="card p-fluid">
			<h5>Thông tin hoá đơn</h5>
			<div class="field grid">
				<label htmlFor="lanlordName" class="col-12 mb-2 md:col-2 md:mb-0">Tên chủ trọ</label>
				<div class="col-12 md:col-10">
					<input pInputText id="lanlordName" type="text" />
				</div>
			</div>
			<div class="field grid">
				<label htmlFor="title" class="col-12 mb-2 md:col-2 md:mb-0">Tiêu đề hoá đơn</label>
				<div class="col-12 md:col-10">
					<input pInputText id="title" type="text" />
				</div>
			</div>
			<div class="field grid">
				<label htmlFor="province" class="col-12 mb-2 md:col-2 md:mb-0">Tỉnh</label>
				<div class="col-12 md:col-10">
					<input pInputText id="province" type="text" />
				</div>
			</div>
			<div class="field grid">
				<label htmlFor="description" class="col-12 mb-2 md:col-2 md:mb-0">Mô tả hoá đơn</label>
				<div class="col-12 md:col-10">
					<input pInputText id="description" type="text" />
				</div>
			</div>
		</div>
	</div>
</div>