<div class="grid">
    <div class="col-12 md:col-6">
		<div class="card p-fluid">
			<h5>Cấu hình hệ thống</h5>
			<div class="field">
				<label htmlFor="issue">Ngày xuất hoá đơn hàng tháng</label>
				<p-calendar class="no-header" view="date" position="bottom" [(ngModel)]="commonConfig.issueInvoiceDate"
				 dateFormat="dd" [readonlyInput]="true"></p-calendar>
			</div>
			<div class="field">
				<label htmlFor="inputIndex">Ngày chốt chỉ số điện nước hàng tháng</label>
				<p-calendar class="no-header" view="date" position="bottom" [(ngModel)]="commonConfig.electricWaterDate"
				 dateFormat="dd" [readonlyInput]="true"></p-calendar>
			</div>
		</div>
		<div class="flex justify-content-center" >
			<div>
				<button [disabled]="!commonConfig.electricWaterDate || !commonConfig.issueInvoiceDate"  pButton type="button" label="Lưu" icon="pi pi-credit-card" class="p-button"  (click)="saveUserPreference()"></button>
			</div>
		</div>
	</div>

	<!-- <div class="col-12 md:col-6">
		<div class="card p-fluid">
			<h5>Thông tin hoá đơn</h5>
			<div class="field grid">
				<label htmlFor="lanlordName" class="col-12 mb-2 md:col-2 md:mb-0">Tên chủ trọ</label>
				<div class="col-12 md:col-10">
					<input pInputText id="lanlordName" type="text" />
				</div>
			</div>
			<div class="field grid">
				<label htmlFor="title" class="col-12 mb-2 md:col-2 md:mb-0">Tiêu đề hoá đơn</label>
				<div class="col-12 md:col-10">
					<input pInputText id="title" type="text" />
				</div>
			</div>
			<div class="field grid">
				<label htmlFor="province" class="col-12 mb-2 md:col-2 md:mb-0">Tỉnh</label>
				<div class="col-12 md:col-10">
					<input pInputText id="province" type="text" />
				</div>
			</div>
			<div class="field grid">
				<label htmlFor="description" class="col-12 mb-2 md:col-2 md:mb-0">Mô tả hoá đơn</label>
				<div class="col-12 md:col-10">
					<input pInputText id="description" type="text" />
				</div>
			</div>
		</div>
	</div> -->
</div>
<div class="progress-spinner" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>