<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Thêm" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                   <div class="flex justify-content-center">
                        <p-dropdown placeholder="Chọn phòng trọ" [options]="accomodations" (onChange)="onSelectAccomodation()" [(ngModel)]="selectedAccomodation" optionLabel="name" autoWidth="false"  [style]="{'width':'100%'}"></p-dropdown>
                   </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="contracts" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','capacity','price','acreage', 'isRent']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"  selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Quản lý hợp đồng</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="room">Phòng<p-sortIcon field="room"></p-sortIcon></th>
                        <th pSortableColumn="representative">Người đại diện<p-sortIcon field="representative"></p-sortIcon></th>
                        <th pSortableColumn="duration">Thời hạn hợp đồng<p-sortIcon field="duration"></p-sortIcon></th>
                        <th pSortableColumn="deposit">Tiền đặt cọc<p-sortIcon field="deposit"></p-sortIcon></th>
                        <th pSortableColumn="startDate">Ngày bắt đầu<p-sortIcon field="startDate"></p-sortIcon></th>
                        <th pSortableColumn="endDate">Ngày hết hạn<p-sortIcon field="endDate"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td style="width:15%; min-width:10rem;">{{data.room.name}}</td>
                        <td style="width:15%; min-width:10rem;">{{data.representative?.firstName || ''}} {{data.representative?.lastName || ''}}</td>
                        <td style="width:15%; min-width:10rem;">{{data.duration}} tháng</td>
                        <td style="width:15%; min-width:10rem;">{{data.deposit | currency: 'VND':'symbol'}}</td>
                        <td style="width:15%; min-width:10rem;">{{data.startDate | date:'dd/MM/yyyy'}}</td>
                        <td style="width:15%; min-width:10rem;">{{data.endDate | date:'dd/MM/yyyy'}}</td>
                        <td style="width:15%; min-width:10rem;">
                            <div class="flex">
                                <button pButton pRipple pTooltip="Chỉnh sửa" icon="pi pi-pencil" tooltipPosition="top" class="p-button-rounded p-button-success mr-2" (click)="editContract(data)"></button>
                                <button pButton pRipple pTooltip="Xoá" icon="pi pi-trash" tooltipPosition="top" class="p-button-rounded p-button-warning mr-2"  (click)="cancelDeposit(data)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog (onHide)="onHideDialog()" [(visible)]="addDialog" [style]="{width: '1150px'}" header="Chi tiết hợp đồng" [modal]="true" position="top" class="p-fluid">
            <ng-template pTemplate="content">
                <form [formGroup]="contractForm">
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="room">Phòng</label>
                            <p-dropdown id="room" formControlName="room" (onChange)="onChangeRoom()" optionLabel="name" [options]="rooms" placeholder="Chọn theo phòng" [ngClass]="{'ng-invalid ng-dirty' : contractForm.controls['room'].invalid && (contractForm.controls['room'].dirty || contractForm.controls['room'].touched)}"> </p-dropdown>
                            <small class="ng-dirty ng-invalid" *ngIf="contractForm.get('room')?.hasError('required') && (contractForm.controls['room'].dirty || contractForm.controls['room'].touched)">Vui lòng chọn phòng.</small>
                            <small class="ng-dirty ng-invalid" *ngIf="contractForm.get('room')?.hasError('roomBooked') && (contractForm.controls['room'].dirty || contractForm.controls['room'].touched)">Phòng đã được đặt cọc, khách thuê đã đặt cọc cần trong mục khách thuê được chọn.</small>
                        </div> 
                        <div class="field col">
                            <ng-container *ngIf="contract.room && contract.room.price">
                                <label>Giá</label>
                                <p-inputNumber [disabled]="true" [(ngModel)]="contract.room.price" [ngModelOptions]="{standalone: true}"></p-inputNumber>
                            </ng-container>
                        </div>
                    </div>
                    
                    <p-tabView>
                        <p-tabPanel header="Chọn khách thuê">
                            <p-pickList [source]="tenantsDisplayed" (onMoveToTarget)="onMoveTenant()" (onMoveAllToTarget)="onMoveTenant()" [target]="selectedTenants" (onMoveToSource)="onMoveBackTenant()" (onMoveAllToSource)="onMoveBackTenant()" sourceHeader="Khách thuê" targetHeader="Khách thuê đã chọn" [dragdrop]="true" [responsive]="true" 
                                [sourceStyle]="{ height: '15rem' }" [targetStyle]="{ height: '15rem' }" filterBy="firstName,lastName" sourceFilterPlaceholder="Tìm kiếm..." targetFilterPlaceholder="Tìm kiếm..."  breakpoint="1400px">
                                <ng-template let-tenant pTemplate="item">
                                    <div class="flex flex-wrap p-2 align-items-center gap-3">
                                        <div class="flex-1 flex flex-column gap-2">
                                            <span class="font-bold">{{ tenant.firstName }} {{ tenant.lastName }}</span>
                                        </div>
                                        <div></div>
                                    </div>
                                </ng-template>
                            </p-pickList>
                        </p-tabPanel>
                        <p-tabPanel header="Chọn dịch vụ">
                            <p-pickList [source]="servicesDisplayed" (onMoveAllToSource)="onMoveBackService($event)" (onMoveToSource)="onMoveBackService($event)" [target]="selectedServices" sourceHeader="Dịch vụ" targetHeader="Dịch vụ đã chọn" [dragdrop]="true" [responsive]="true" 
                                [sourceStyle]="{ height: '15rem' }" [targetStyle]="{ height: '15rem' }" filterBy="name" sourceFilterPlaceholder="Tìm kiếm..." targetFilterPlaceholder="Tìm kiếm..."  breakpoint="1400px">
                                <ng-template let-service pTemplate="item">
                                    <div class="flex flex-wrap p-2 align-items-center gap-3">
                                        <div class="flex-1 flex flex-column gap-2">
                                            <span>{{service.name}}</span>
                                        </div>
                                        <div class="flex-1 flex flex-column gap-2">
                                            <span>{{service.price | currency: 'VND':'symbol'}}</span>
                                        </div>
                                        <div class="flex-1 flex flex-column gap-2">
                                            <span>{{service.unit}}</span>
                                        </div>
                                        <div class="flex-1 flex flex-column gap-2" *ngIf="selectedServices.includes(service)">
                                            <span>Số lượng</span>
                                            <p-inputNumber [disabled]="service.name === getStaticEletricName() || service.name === getStaticWaterName()" [(ngModel)]="service.quantity" [ngModelOptions]="{standalone: true}"></p-inputNumber>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-pickList>
                        </p-tabPanel>
                    </p-tabView>
                    <div class="formgrid grid">
                        <div class="field col mr-3">
                            <div class="field">
                                <label for="description">Người đại diện</label>
                                <p-dropdown id="description" formControlName="representative" [options]="selectedTenants" placeholder="Chọn người đại diện" [ngClass]="{'ng-invalid ng-dirty' : contractForm.controls['representative'].invalid && (contractForm.controls['representative'].dirty || contractForm.controls['representative'].touched)}"> 
                                    <ng-template let-item pTemplate="selectedItem">
                                        {{item.firstName}} {{item.lastName}}
                                    </ng-template>
                                    <ng-template let-tenant pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <div>{{ tenant.firstName }} {{ tenant.lastName }}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                                <small class="ng-dirty ng-invalid" *ngIf="contractForm.get('room')?.hasError('required') && (contractForm.controls['room'].dirty || contractForm.controls['room'].touched)">Vui lòng chọn người đại diện.</small>
                            </div> 
                            <div class="field">
                                <label for="duration">Kì hạn hợp đồng (tháng)</label>
                                <p-inputNumber id="duration" formControlName="duration" [ngClass]="{'ng-invalid ng-dirty' : contractForm.controls['duration'].invalid && (contractForm.controls['duration'].dirty || contractForm.controls['duration'].touched)}"></p-inputNumber>
                                <small class="ng-dirty ng-invalid" *ngIf="contractForm.get('duration')?.invalid && (contractForm.controls['duration'].dirty || contractForm.controls['duration'].touched)">Vui lòng nhập kì hạn hợp đồng.</small>
                            </div> 
                            <div class="field">
                                <label for="recurrent">Kì thanh toán (tháng/lần)</label>
                                <p-inputNumber id="recurrent" formControlName="recurrent" [ngClass]="{'ng-invalid ng-dirty' : contractForm.controls['recurrent'].invalid && (contractForm.controls['recurrent'].dirty || contractForm.controls['recurrent'].touched)}"></p-inputNumber>
                                <small class="ng-dirty ng-invalid" *ngIf="contractForm.get('recurrent')?.invalid && (contractForm.controls['recurrent'].dirty || contractForm.controls['recurrent'].touched)">Vui lòng nhập kì thanh toán.</small>
                            </div>     
                        </div>
                        <div class="field col mr-3">
                            <div class="field">
                                <label for="deposit">Tiền đặt cọc (đồng)</label>
                                <p-inputNumber id="deposit" formControlName="deposit" [ngClass]="{'ng-invalid ng-dirty' : contractForm.controls['deposit'].invalid && (contractForm.controls['deposit'].dirty || contractForm.controls['deposit'].touched)}"></p-inputNumber>
                                <small class="ng-dirty ng-invalid" *ngIf="contractForm.get('deposit')?.invalid && (contractForm.controls['deposit'].dirty || contractForm.controls['deposit'].touched)">Vui lòng nhập tiền đặt cọc.</small>
                            </div>   
                            <div class="field">
                                <div class="formgrid grid">
                                    <div class="field col"> 
                                        <label  for="firstElectricNum">Số điện đầu</label>
                                        <p-inputNumber id="firstElectricNum" formControlName="firstElectricNum" [ngClass]="{'ng-invalid ng-dirty' : contractForm.controls['firstElectricNum'].invalid && (contractForm.controls['firstElectricNum'].dirty || contractForm.controls['firstElectricNum'].touched)}"></p-inputNumber>
                                        <small class="ng-dirty ng-invalid" *ngIf="contractForm.get('firstElectricNum')?.invalid && (contractForm.controls['firstElectricNum'].dirty || contractForm.controls['firstElectricNum'].touched)">Vui lòng nhập số điện đầu.</small>
                                    </div>
                                    <div class="field col">
                                        <label for="firstWaterNum">Số nước đầu</label>
                                        <p-inputNumber id="firstWaterNum" formControlName="firstWaterNum" [ngClass]="{'ng-invalid ng-dirty' : contractForm.controls['firstWaterNum'].invalid && (contractForm.controls['firstWaterNum'].dirty || contractForm.controls['firstWaterNum'].touched)}"></p-inputNumber>
                                        <small class="ng-dirty ng-invalid" *ngIf="contractForm.get('firstWaterNum')?.invalid && (contractForm.controls['firstWaterNum'].dirty || contractForm.controls['firstWaterNum'].touched)">Vui lòng nhập số điện cuối.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="formgrid grid">
                                    <div class="field col"> 
                                        <label  for="startDate">Ngày bắt đầu</label>
                                        <p-calendar id="startDate" formControlName="startDate" dateFormat="dd/mm/yy" [ngClass]="{'ng-invalid ng-dirty' : contractForm.controls['startDate'].invalid && (contractForm.controls['startDate'].dirty || contractForm.controls['startDate'].touched)}"></p-calendar>
                                        <small class="ng-dirty ng-invalid" *ngIf="contractForm.get('startDate')?.invalid && (contractForm.controls['startDate'].dirty || contractForm.controls['startDate'].touched)">Vui lòng chọn ngày bắt đầu hợp đồng.</small>
                                    </div>
                                    <div class="field col">
                                        <label for="endDate">đến ngày</label>
                                        <p-calendar id="endDate" formControlName="endDate" dateFormat="dd/mm/yy"></p-calendar>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </form>            
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" [disabled]="contractForm.invalid" class="p-button-text" (click)="saveDeposit()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="cancelDepositDialog" header="Huỷ đặt cọc phòng" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <!-- <span *ngIf="contract">Huỷ đặt cọc phòng <b>{{contract.room.name}}</b>?</span> -->
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="cancelDepositDialog = false"></button>
                <!-- <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmCancelDeposit()"></button> -->
            </ng-template>
        </p-dialog>
    </div>
</div>
<div class="progress-spinner" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>